:root {
    --color-count: #f7768e;
    --color-particle: #ff9e64;
    --color-particle-link: rgba(255, 157, 100, 0.15);
    --color-pulse: #fff;
    --color-theme-toggle: #f7768e;
    --color-theme-toggle-hover: #fff;

    --color-text-default: #eee;
    --color-text-secondary: #9aa5ce;
    --color-text-main-label: #bb9af7; 
    --color-text-footer: #9aa5ce;
    --color-text-footer-hover: #bb9af7;
    --color-text-debug: #9aa5ce;
    --color-text-debug-link: #9aa5ce;
    --color-text-debug-link-hover: #bb9af7;

    --color-bg-overlay: rgba(0, 0, 0, 0.8);
    --color-bg-main: #1a1b26;

    --color-modal-bg: #1a1b26;
    --color-modal-border: #414868;
    --color-modal-title: #f7768e;
    --color-modal-close-btn: #414868;
    --color-modal-close-btn-hover: #bb9af7;
    --color-modal-stat-div: #414868;
    --color-modal-stat-label: #bb9af7;
    --color-modal-stat-value: #ff9e64;
    --color-modal-footer: #414868;

}